<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Django-foundation-forms : Rendering django forms with the use of zurb-foundation framework." />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Django-foundation-forms</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/paprykut/django-foundation-forms">View on GitHub</a>

          <h1 id="project_title">Django-foundation-forms</h1>
          <h2 id="project_tagline">Rendering django forms with the use of zurb-foundation framework.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/paprykut/django-foundation-forms/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/paprykut/django-foundation-forms/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>django-foundation-forms</h1>

<p>Rendering django forms with the use of zurb-foundation framework.</p>

<h3>Usage</h3>

<p>First, clone the project:<br><code>git clone git://github.com/paprykut/django-foundation-forms.git</code></p>

<p>Move <strong>forms.html</strong> to your project template directory. In my case, this would be:<br><code>/home/paprykut/myproject/myproject/templates/</code></p>

<p>In order to use the form generation in your templates, include the following 
code within the respective html files:<br></p>

<pre><code>&lt;form action="" method="post" class="custom"&gt;
  {% csrf_token %}
  {% include "forms.html" with form=form %}
  &lt;input type="submit" class="button" value="Log in &amp;raquo;"&gt;
&lt;/form&gt;
</code></pre>

<p>The "form" variable is passed from <strong>views.py</strong>.</p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Django-foundation-forms maintained by <a href="https://github.com/paprykut">paprykut</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
